*{
	margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}
header a{
	border: 2px solid white;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 10px 5px 5px red;
}
header a:hover{
	box-shadow: 10px 5px 5px yellow;
	border: 2px solid black;
}
div.row{
	padding: 0;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1{
	background-color: white;
	border: 2px solid black;
}
header div{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #94b6d6;
}
footer div{	
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #94b6d6;
}
#h_1{
	margin-right: 40%;
	margin-left: 2%;
}
#h_2{
	margin-right: 2%;
	margin-left: 40%;
}
#main-content{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: table;
}
#main-content::after{
	content: "";
  	clear: both;
  	display: block;
}
#right-part{
	display: table-cell;
	width: 75%;
}
#blocks4-6{
	padding: 0;
	display: table;
}
#block46{
	display: table-cell;
	width: 67%;
}
#main-content div{	
	font-size: 23px;
}
#p1{
	text-align: right;
	margin-right: 2%;
	font-size: 1.5em;
}
#p2{
	display: table-cell;
	width: 25%;
	border-right: 2px solid black;
	background-color: #d6c694;
	overflow-y: scroll;
}
#p3{
	border-bottom: 2px solid black;
	background-color: #cbd694;
	min-height: 100px;
}
#p4{
	border-bottom: 2px solid black;
	min-height: 300px;
	}
#p5{
	display: table-cell;
	width: 33%;
	border-left: 2px solid black;
	background-color: #d6c694;
	overflow-y: scroll;
}
#p6{
	background-color: #cbd694;
	min-height: 100px;
}
#p7{
	float: left;
	padding-left: 2%;
	text-align: left;
	font-size: 1.5em;
}